# dependencies
node_modules

# misc
.DS_Store
.env*
yarn.lock
.yarn
.yarnrc.yml
package-lock.json
pnpm-lock.yaml
.history

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.code-workspace

#idea
.idea
.vscode
.nvmrc
